<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TNVR 核銷單產生器</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .section {
            padding-left: 23px;
            padding-right: 23px;
        }

        .help-block {
            //padding-bottom: 10px;
        }

        .block {
            padding-bottom: 30px;
        }

        @media (min-width: 1200px) {
            .container {
                max-width: 770px;
            }
        }
    </style>

</head>

<body>
    <div class="container theme-showcase" role="main">

        <div class="jumbotron">
            <h1>TNVR 核銷單產生器</h1>
            <p>一支用來陪你走過核銷地獄的小工具 v0.15</p>
        </div>


        <form action="" , method="post" class="section" enctype="multipart/form-data">

            <div class="block">
                <h4>上傳資料表 [必需]</h4>

                <p class="help-block" style="display:inline-block">
                    提供 TNVR 資料表，範例檔案參見
                    <a href="https://drive.google.com/open?id=0B5xTLBJxg-_wQk0yb0xIaTZfaXc" target="_blank">連結</a>，或按照這個
                    <a href="https://docs.google.com/spreadsheets/d/1TULqRRidPN6u9COTLsKlBqm_8G-l7I8ApTBlUrRpFrs/edit?usp=sharing" target="_blank">線上範本</a>
                    內的紅字指示建立及輸出 xlsx 檔。
                </p>

                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            選擇 .xlsx 檔案 <input type="file" style="display: none;" name="dataset" accept=".xlsx">
                        </span>
                    </label>
                    <input type="text" class="form-control" readonly="">
                </div>
            </div>
            <div class="block">
                <h4>上傳手術前後照片 [可跳過]</h4>
                <p class="help-block">欲產生計畫流程紀錄表，需上傳所有犬隻手術前後的照片打包成的 .zip 壓縮檔，範例檔案可參見
                    <a href="https://drive.google.com/drive/folders/0B5xTLBJxg-_wTDBfYmoxSzgxQ0E" target="_blank">連結</a>
                    <br>
                    壓縮檔內的照片必須遵守命名規則： 編號 122701 => 手術前 122701e.jpg / 手術後 122701o.jpg
                </p>
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            選擇 .zip 檔案 <input type="file" style="display: none;" name="photoset" accept=".zip">
                        </span>
                    </label>
                    <input type="text" class="form-control" readonly="">
                </div>

            </div>
            <div class="checkbox block">
                <h4>選擇要輸出的表單</h4>
                <p class="help-block">勾選要產生的表格，陸續增加中...</p>
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="taipei1" checked> 台北市街犬絕育防疫 TNVR 執行計畫流程紀錄表
                    </label>
                    <p class="help-block">目前只有這一個選項，所以不管你勾不勾都只會給你這個啦！</p>

                    <!--
                    <label>
                        <input type="checkbox" name="taipei2" checked> 術後照護證明欄（雜項支出）
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="taipei4" checked> 術後照護證明欄（住院）
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="taipei3" checked> 台北市街犬絕育防疫 TNVR 執行計畫輔助核銷明細表
                    </label>
                    <br>
                    </label>
                        !-->
                </div>

            </div>
            <button type="submit" class="btn btn-success" style="center" id="sendform">產生核銷檔案</button>
            <p class="help-block">出了無法自動填寫的小錯誤時，會用淺黃色方塊在回傳的 pdf 檔案裡標出來</p>
            <p id="proc_msg">
            </p>
        </form>

    </div>
    <script>
    $("input[type='file']").on('change', function(evt) {
        var files = $(evt.currentTarget).get(0).files;
        var myfeedback = $(evt.currentTarget).parents(".input-group").find("input.form-control")

        if (files.length > 0) {
            myfeedback.attr("value", files[0].name);
        }
    });

    /*
    $("#sendform").click(function(){
        $('#proc_msg').load('proc_msg')
    });
    */
    </script>

</body>

</html>
